.logo img {
  width: 80px;
  height: 70px;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding-right: 600px;
  font-size: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  align-items: center;
  padding-top: 30px;
}
body {
  background: #040c18;
  color: #fff;
  font-family: "Manrope", sans-serif;
}
button {
  width: 152px;
  height: 58px;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 20px;
}
button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
button:hover:before {
  opacity: 1;
}
button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  padding-top: 50px;
}
main {
  padding: 0 150px;
  padding-top: 130px;
}
.secttext h1 {
  font-size: 62px;
  font-style: normal;
  font-weight: 800;
  line-height: 75px; /* 120.968% */
  letter-spacing: -2.48px;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.secttext p {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 754px;
  color: #81afdd;
  font-size: 20px;
}
.secttext input {
  padding-left: 20px;
  width: 456px;
  height: 73px;
  border-radius: 5px 0px 0px 5px;
  background: #052d56;
  flex-shrink: 0;
  font-size: 20px;
}
.secttext button {
  width: 174px;
  height: 73px;
}
.img_ebalo img {
  width: 1100px;
}
.companionlogo ul {
  display: flex;
  gap: 45px;
  align-items: center;
  padding-top: 150px;
  padding-left: 650px;
}
.containers {
  background-color: rgb(4, 44, 84);
  align-items: center;
  display: flex;
}
.upwards {
  padding-top: 57px;
  padding-left: 61px;
}
.upwards hr {
  width: 38px;
  height: 3px;
  flex-shrink: 0;
  background: linear-gradient(103deg, #ae67fa -13.86%, #f49867 99.55%), #fff;
}
.upwards p {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 75px;
}
.description_gpt p {
  align-items: center;
  padding-top: 74px;
  padding-left: 154px;
  color: #81afdd;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; 
  text-align: center;
}
