.logo img {
  width: 80px;
  height: 70px;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding-right: 600px;
  font-size: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  align-items: center;
  padding-top: 30px;
}
body {
  background: #040c18;
  color: #fff;
}
button {
  width: 152px;
  height: 58px;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 20px;
}
button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
button:hover:before {
  opacity: 1;
}
button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
}
.secttext h1 {
  width: 614px;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 62px;
  font-style: normal;
  font-weight: 800;
  line-height: 75px; /* 120.968% */
  letter-spacing: -2.48px;
}
.secttext p {
  width: 554px;
  color: #81afdd;
  font-size: 20px;
}
.secttext input {
  width: 456px;
  height: 73px;
  border-radius: 5px 0px 0px 5px;
  background: #052d56;
}
.secttext button {
  width: 174px;
  height: 73px;
}
